Repository Armor-test/data-database-887, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/unit-cloud, @Armor-test/squad-reporting, @Armor-test/squad-database, @Armor-test/team-reporting, @Armor-test/dept-test, @Armor-test/grp-storage, @Armor-test/squad-cloud, @Armor-test/dept-api, @Armor-test/squad-payments, @Armor-test/grp-search, @Armor-test/grp-reporting, @Armor-test/dept-security, @Armor-test/team-core, @Armor-test/squad-tooling, @Armor-test/dept-billing, @Armor-test/team-notifications, @Armor-test/squad-api, @Armor-test/team-frontend, @Armor-test/team-security, @Armor-test/squad-mobile, @Armor-test/grp-ui, @Armor-test/team-logging, @Armor-test/squad-frontend, @Armor-test/squad-cache, @Armor-test/unit-design, @Armor-test/squad-apps, @Armor-test/squad-ux, @Armor-test/squad-search, @Armor-test/unit-test, @Armor-test/unit-devops, @Armor-test/squad-product, @Armor-test/squad-research, @Armor-test/grp-integration, @Armor-test/dept-data, @Armor-test/squad-ml, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/security, @Armor-test/auth-team

.github/CODEOWNERS:

# CODEOWNERS file for data-database-887
# Global owners - will be requested for all PRs
* @Armor-test/unit-cloud @Armor-test/squad-reporting @Armor-test/squad-database

# Directory ownership
/controllers/ @Armor-test/team-reporting @Armor-test/dept-test @Armor-test/grp-storage
/security/ @Armor-test/squad-cloud @Armor-test/dept-api @Armor-test/squad-payments
/web/ @Armor-test/grp-search @Armor-test/grp-reporting
/assets/ @Armor-test/squad-payments @Armor-test/dept-security
/db/ @Armor-test/team-core @Armor-test/squad-tooling
/hooks/ @Armor-test/dept-billing @Armor-test/team-notifications @Armor-test/squad-api
/test/ @Armor-test/team-frontend @Armor-test/team-security
/modules/ @Armor-test/squad-mobile @Armor-test/grp-ui @Armor-test/team-logging
/ui/ @Armor-test/grp-storage @Armor-test/squad-frontend
/data/ @Armor-test/squad-cache @Armor-test/unit-design
/helpers/ @Armor-test/dept-security @Armor-test/team-security @Armor-test/squad-apps
/src/ @Armor-test/squad-ux @Armor-test/squad-apps

# File type ownership
*.html @Armor-test/dept-test @Armor-test/squad-search @Armor-test/squad-apps
*.graphql @Armor-test/dept-api @Armor-test/unit-test @Armor-test/unit-devops
*.lock @Armor-test/dept-billing @Armor-test/squad-frontend
*.c @Armor-test/squad-product @Armor-test/squad-payments @Armor-test/squad-research
*.rb @Armor-test/grp-integration @Armor-test/grp-ui
*.cs @Armor-test/dept-api @Armor-test/unit-test
*.ts @Armor-test/dept-data @Armor-test/team-reporting
*.jsx @Armor-test/grp-storage @Armor-test/team-notifications @Armor-test/grp-search
*.toml @Armor-test/squad-ml @Armor-test/team-core
*.js @Armor-test/squad-search @Armor-test/squad-api

# Security and special files
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
.github/workflows/ @Armor-test/ci-team @Armor-test/devops

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-ux, @Armor-test/squad-apps

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/unit-cloud, @Armor-test/squad-reporting, @Armor-test/squad-database

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/team-frontend, @Armor-test/team-security

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-ux, @Armor-test/squad-apps

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-search, @Armor-test/squad-api
